data/True.csv filter=lfs diff=lfs merge=lfs -text
data/Fake.csv filter=lfs diff=lfs merge=lfs -text
data/combined.csv filter=lfs diff=lfs merge=lfs -text
data/processed.csv filter=lfs diff=lfs merge=lfs -text
data/processed_part*.csv filter=lfs diff=lfs merge=lfs -text
data/*.csv filter=lfs diff=lfs merge=lfs -text
