body {
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
}

h1, h2, h3 {
    color: #00c6ff;
}

.stButton>button {
    background-color: #00c6ff;
    color: white;
    border-radius: 10px;
}